body{
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
    height: 100vh;
}

.dashboard-wrap{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 1fr;
    height: 100vh;
}

.header{
    background-color: hsla(173 0% 97% / 0.98);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}
.sidebar{
    background-color: hsla(202 87% 48% / 0.99);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;   
}
.dash{
    font-size: 20px;
    font-weight: 10px;
}
.dashboard ul, a{
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-family:  "Roboto", sans-serif;
    font-weight: 15px;
    font-size: 14px;
    font-size: 20px;
    font-weight: 15px;
    font-family: "Roboto", sans-serif;
}

.dashboard ul{
   display: flex;
   gap: 20px;
   flex-direction: column;
   justify-content:space-evenly;
}

.middle-dash{
    margin-top: 40px;
}

.last-dashboard-item{
    margin-top: 40px;
}
   

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: hsl(199 68% 95%);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 25px;
    gap: 20px;
    grid-template-areas: 
    "card1 card2 card3"
    "card4 card5 card3"
    "card6 card7 card8"
    ;
}
.cards{
    background-color: #fffdfd;
    width: 400px; 
    height: 300px;
    border-radius: 10px;
    padding: 13px;
    color: black;
    border-left: 5px solid hsl(43 96% 49%);
}
#card-3{
    display: flex;
    flex-direction: column;
    border-left: 5px solid #fff;
    width: 400px; 
    height: 570px;
    flex-wrap: wrap;
    padding: 15px;
}
#card-8{
    border-left: 5px solid #fff;
    width: 400px;  
}
.cards > p{
    font-size: 19px;
    font-weight: 10px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: gray;
}
.cards > h2{
    font-size: 19px;
    font-weight: 19px;
    color: black;
    font-family: "Roboto", sans-serif;
    
}

.cards:nth-child(1){
    grid-area: card1;
}
.cards:nth-child(2){
    grid-area: card2;
}
.cards:nth-child(3){
    grid-area: card3;
}

.cards:nth-child(4){
    grid-area: card4;
}

.cards:nth-child(5){
    grid-area: card5;
}
.cards:nth-child(6){
    grid-area: card6;
}
.cards:nth-child(7){
    grid-area: card7;
}
.cards:nth-child(8){
    grid-area: card8;
}

.cards ul{
    display: flex;
    gap: 8px;
    text-decoration: none;
    
}

#icons ul{
    display: flex;
   align-items: flex-end;
}
.cards li{
    list-style: none;
    align-items: flex-end;
}
.avatar > img{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
.avatar{
    display: flex;
    align-items: center;
}
.info{
    margin-left: 10px;
}
.username{
    font-size: 1rem;
    font-weight: bold;
}
.title{
    color: gray;
    font-size: 1rem;
}
#card-8{
    display: flex;
    gap: 10px;
    flex-direction: column;
   justify-content:space-evenly;
}

.site-mantain{
    width: 400px;
    height: 300px;
}
#title{
    font-size: 0.7rem;
    font-weight: bold;
    color: black;
}
#content{
    font-size: 18px;
    font-weight: 10px;
    font-family: "Roboto", sans-serif;
    color: gray;
    text-overflow: ellipsis;
}
.horizontal{
    border: 1px solid gray;

}